@charset "UTF-8";

body {
    background-color: rgb(205, 214, 205);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(15, 16, 15);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(58, 86, 58);
}

.basico{
    color: green;
    font-weight: bold;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{
    background-color: rgb(218, 221, 20);
}